In [2]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess

In [3]:
num_lags = 36
time = 12

queryset = (Queryset('month_to_annual_moving_sum', 'country_month'))

queryset = queryset.with_column(
    Column('ged_sb_nolag', from_table="ged2_cm",
           from_column="ged_sb_best_sum_nokgi")
    .transform.missing.replace_na()
    .transform.ops.ln()
    .transform.missing.replace_na()
)
for lag in range(1, num_lags + 1):
    tlag_variable_name = f"ged_sb_ms{lag}"
    # Apply the tlag transformation
    queryset = queryset.with_column(
        Column(tlag_variable_name, from_table="ged2_cm",
               from_column="ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.temporal.moving_sum(time)
        .transform.temporal.tlag(lag)
        .transform.missing.replace_na()
    )

queryset = queryset.with_column(
    Column('wdi_sh_dyn_mort_fe', from_table="wdi_cy",
           from_column="wdi_sh_dyn_mort_fe")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

queryset = queryset.with_column(
    Column('wdi_ny_gdp_mktp_kd', from_table="wdi_cy",
           from_column="wdi_ny_gdp_mktp_kd")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

queryset = queryset.with_column(
    Column('wdi_sp_pop_totl', from_table="wdi_cy",
           from_column="wdi_sp_pop_totl")
    .transform.missing.fill()
    .transform.ops.ln()
    .transform.missing.replace_na()

)

queryset = queryset.with_column(
    Column('country_name', from_table="country", from_column="name")

)


df = queryset.publish().fetch()

 .      o      O      O

In [4]:
df

                            country_name  ged_sb_nolag  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           0.0            4.151040
         2                      Suriname           0.0            3.953165
         3           Trinidad and Tobago           0.0            3.616309
         4                     Venezuela           0.0            3.711130
         5                         Samoa           0.0            3.718438
...                                  ...           ...                 ...
852      242                    Tanzania           0.0            3.793239
         243                     Morocco           0.0            2.844909
         244                  Mauritania           0.0            3.616309
         245                       Sudan           0.0            3.927896
         246                 South Sudan           0.0            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl    ged_sb_ms1  \
month_id country_id
1        1                    21.645497        13.564709  0.000000e+00
         2                    21.704949        12.834983  0.000000e+00
         3                    22.994549        13.935826  0.000000e+00
         4                     0.000000        16.537493  0.000000e+00
         5                    19.784920        12.013131  0.000000e+00
...                                 ...              ...           ...
852      242                  24.884573        17.967941  0.000000e+00
         243                  25.542467        17.428496  0.000000e+00
         244                  22.728763        15.344817  0.000000e+00
         245                  25.101865        17.636672  8.881784e-16
         246                  23.207989        16.190256  0.000000e+00

                       ged_sb_ms2    ged_sb_ms3    ged_sb_ms4    ged_sb_ms5  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                     ...   ged_sb_ms27   ged_sb_ms28   ged_sb_ms29  \
month_id country_id  ...
1        1           ...  0.000000e+00  0.000000e+00  0.000000e+00
         2           ...  0.000000e+00  0.000000e+00  0.000000e+00
         3           ...  0.000000e+00  0.000000e+00  0.000000e+00
         4           ...  0.000000e+00  0.000000e+00  0.000000e+00
         5           ...  0.000000e+00  0.000000e+00  0.000000e+00
...                  ...           ...           ...           ...
852      242         ...  0.000000e+00  0.000000e+00  0.000000e+00
         243         ...  0.000000e+00  0.000000e+00  0.000000e+00
         244         ...  0.000000e+00  0.000000e+00  0.000000e+00
         245         ...  8.881784e-16  8.881784e-16  8.881784e-16
         246         ...  0.000000e+00  0.000000e+00  0.000000e+00

                      ged_sb_ms30   ged_sb_ms31   ged_sb_ms32   ged_sb_ms33  \
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

                      ged_sb_ms34   ged_sb_ms35   ged_sb_ms36
month_id country_id
1        1           0.000000e+00  0.000000e+00  0.000000e+00
         2           0.000000e+00  0.000000e+00  0.000000e+00
         3           0.000000e+00  0.000000e+00  0.000000e+00
         4           0.000000e+00  0.000000e+00  0.000000e+00
         5           0.000000e+00  0.000000e+00  0.000000e+00
...                           ...           ...           ...
852      242         0.000000e+00  0.000000e+00  0.000000e+00
         243         0.000000e+00  0.000000e+00  0.000000e+00
         244         0.000000e+00  0.000000e+00  0.000000e+00
         245         8.881784e-16  8.881784e-16  8.881784e-16
         246         0.000000e+00  0.000000e+00  0.000000e+00

[158230 rows x 41 columns]