In [2]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import MixedLM
import matplotlib.pyplot as plt
from scipy import stats
from viewser.operations import fetch
from viewser import Queryset, Column
import subprocess

In [3]:
data = Queryset("month_to_annual", "country_month").fetch()

 .

In [4]:
data

                            country_name  country_id  wdi_sh_dyn_mort_fe  \
month_id country_id
1        1                        Guyana           1            4.151040
         2                      Suriname           2            3.953165
         3           Trinidad and Tobago           3            3.616309
         4                     Venezuela           4            3.711130
         5                         Samoa           5            3.718438
...                                  ...         ...                 ...
852      242                    Tanzania         242            3.793239
         243                     Morocco         243            2.844909
         244                  Mauritania         244            3.616309
         245                       Sudan         245            3.927896
         246                 South Sudan         246            4.552824

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709           0.0
         2                    21.704949        12.834983           0.0
         3                    22.994549        13.935826           0.0
         4                     0.000000        16.537493           0.0
         5                    19.784920        12.013131           0.0
...                                 ...              ...           ...
852      242                  24.884573        17.967941           0.0
         243                  25.542467        17.428496           0.0
         244                  22.728763        15.344817           0.0
         245                  25.101865        17.636672           0.0
         246                  23.207989        16.190256           0.0

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ...  ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id  ...
1        1           ...            0.0            0.0            0.0
         2           ...            0.0            0.0            0.0
         3           ...            0.0            0.0            0.0
         4           ...            0.0            0.0            0.0
         5           ...            0.0            0.0            0.0
...                  ...            ...            ...            ...
852      242         ...            0.0            0.0            0.0
         243         ...            0.0            0.0            0.0
         244         ...            0.0            0.0            0.0
         245         ...            0.0            0.0            0.0
         246         ...            0.0            0.0            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag36
month_id country_id
1        1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0
...                            ...
852      242                   0.0
         243                   0.0
         244                   0.0
         245                   0.0
         246                   0.0

[158230 rows x 41 columns]

In [5]:
#df = data.query('month_id % 12 == 0')
df = data

In [6]:
independent_variable = ['wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4', 'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11', 'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17',
                        'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23', 'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29', 'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35', 'ged_sb_tlag36']
dependent_variable = 'wdi_sh_dyn_mort_fe'

In [7]:
df[independent_variable]

                     wdi_ny_gdp_mktp_kd  wdi_sp_pop_totl  ged_sb_tlag1  \
month_id country_id
1        1                    21.645497        13.564709           0.0
         2                    21.704949        12.834983           0.0
         3                    22.994549        13.935826           0.0
         4                     0.000000        16.537493           0.0
         5                    19.784920        12.013131           0.0
...                                 ...              ...           ...
852      242                  24.884573        17.967941           0.0
         243                  25.542467        17.428496           0.0
         244                  22.728763        15.344817           0.0
         245                  25.101865        17.636672           0.0
         246                  23.207989        16.190256           0.0

                     ged_sb_tlag2  ged_sb_tlag3  ged_sb_tlag4  ged_sb_tlag5  \
month_id country_id
1        1                    0.0           0.0           0.0           0.0
         2                    0.0           0.0           0.0           0.0
         3                    0.0           0.0           0.0           0.0
         4                    0.0           0.0           0.0           0.0
         5                    0.0           0.0           0.0           0.0
...                           ...           ...           ...           ...
852      242                  0.0           0.0           0.0           0.0
         243                  0.0           0.0           0.0           0.0
         244                  0.0           0.0           0.0           0.0
         245                  0.0           0.0           0.0           0.0
         246                  0.0           0.0           0.0           0.0

                     ged_sb_tlag6  ged_sb_tlag7  ged_sb_tlag8  ...  \
month_id country_id                                            ...
1        1                    0.0           0.0           0.0  ...
         2                    0.0           0.0           0.0  ...
         3                    0.0           0.0           0.0  ...
         4                    0.0           0.0           0.0  ...
         5                    0.0           0.0           0.0  ...
...                           ...           ...           ...  ...
852      242                  0.0           0.0           0.0  ...
         243                  0.0           0.0           0.0  ...
         244                  0.0           0.0           0.0  ...
         245                  0.0           0.0           0.0  ...
         246                  0.0           0.0           0.0  ...

                     ged_sb_tlag27  ged_sb_tlag28  ged_sb_tlag29  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag30  ged_sb_tlag31  ged_sb_tlag32  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag33  ged_sb_tlag34  ged_sb_tlag35  \
month_id country_id
1        1                     0.0            0.0            0.0
         2                     0.0            0.0            0.0
         3                     0.0            0.0            0.0
         4                     0.0            0.0            0.0
         5                     0.0            0.0            0.0
...                            ...            ...            ...
852      242                   0.0            0.0            0.0
         243                   0.0            0.0            0.0
         244                   0.0            0.0            0.0
         245                   0.0            0.0            0.0
         246                   0.0            0.0            0.0

                     ged_sb_tlag36
month_id country_id
1        1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0
...                            ...
852      242                   0.0
         243                   0.0
         244                   0.0
         245                   0.0
         246                   0.0

[158230 rows x 38 columns]

In [8]:
from theClass import *

In [9]:
from sklearn.model_selection import train_test_split

# Assuming X and y are your independent and dependent variables respectively
X_train, X_test, y_train, y_test = train_test_split(
    df[independent_variable], df[dependent_variable], test_size=0.2, random_state=42)

# Create an instance of MonthToAnnual
model = Regressor()  # Use 'or' for Ordinary Least Squares

In [10]:
y_train

month_id  country_id
551       126           2.879198
110       191           5.262690
640       2             2.778819
838       67            3.072693
291       112           1.504077
                          ...
652       42            3.696351
567       103           1.098612
715       66            1.163151
793       111           1.029619
663       20            2.766319
Name: wdi_sh_dyn_mort_fe, Length: 126584, dtype: float64

In [11]:
filtered_y_train = y_train.loc[y_train.index.get_level_values(
    'month_id') % 12 == 0]

In [12]:
filtered_y_train

month_id  country_id
468       117           2.174752
840       85            1.223775
168       114           2.827314
636       133           3.974058
672       46            1.335001
                          ...
348       57            4.424847
216       74            4.953712
60        132           3.113515
240       134           3.869116
708       83            1.791759
Name: wdi_sh_dyn_mort_fe, Length: 10616, dtype: float64

In [13]:
y_train

month_id  country_id
551       126           2.879198
110       191           5.262690
640       2             2.778819
838       67            3.072693
291       112           1.504077
                          ...
652       42            3.696351
567       103           1.098612
715       66            1.163151
793       111           1.029619
663       20            2.766319
Name: wdi_sh_dyn_mort_fe, Length: 126584, dtype: float64

In [14]:
model.fit(X_train, y_train)

Regressor()

In [15]:
from sklearn.utils.validation import check_is_fitted

predictions = model.predict(X_test)

In [16]:
predictions

                     Predictions
month_id country_id
279      90             2.699561
699      243            3.254964
593      69             3.314618
676      144            2.320803
565      65             3.272985
...                          ...
196      116            3.164800
211      99             2.767424
283      40             2.858110
97       213            2.868660
710      135            3.360118

[31646 rows x 1 columns]

In [17]:
predictions.query('country_id == 100')

                     Predictions
month_id country_id
538      100            2.948057
578      100            2.948057
768      100            2.948057
669      100            2.948057
328      100            2.981558
...                          ...
668      100            2.948057
278      100            2.997503
428      100            2.971123
110      100            3.034922
140      100            3.032707

[181 rows x 1 columns]

In [18]:
len(predictions)

31646

In [19]:
independent_variable = ['country_id', 'wdi_ny_gdp_mktp_kd', 'wdi_sp_pop_totl', 'ged_sb_tlag1', 'ged_sb_tlag2', 'ged_sb_tlag3', 'ged_sb_tlag4', 'ged_sb_tlag5', 'ged_sb_tlag6', 'ged_sb_tlag7', 'ged_sb_tlag8', 'ged_sb_tlag9', 'ged_sb_tlag10', 'ged_sb_tlag11', 'ged_sb_tlag12', 'ged_sb_tlag13', 'ged_sb_tlag14', 'ged_sb_tlag15', 'ged_sb_tlag16', 'ged_sb_tlag17',
                        'ged_sb_tlag18', 'ged_sb_tlag19', 'ged_sb_tlag20', 'ged_sb_tlag21', 'ged_sb_tlag22', 'ged_sb_tlag23', 'ged_sb_tlag24', 'ged_sb_tlag25', 'ged_sb_tlag26', 'ged_sb_tlag27', 'ged_sb_tlag28', 'ged_sb_tlag29', 'ged_sb_tlag30', 'ged_sb_tlag31', 'ged_sb_tlag32', 'ged_sb_tlag33', 'ged_sb_tlag34', 'ged_sb_tlag35', 'ged_sb_tlag36']
dependent_variable = 'wdi_sh_dyn_mort_fe'

In [20]:
from sklearn.model_selection import train_test_split

# Assuming X and y are your independent and dependent variables respectively
X_train, X_test, y_train, y_test = train_test_split(
    df[independent_variable], df[dependent_variable], test_size=0.2, random_state=42)

model2 = Regressor(use_mixed_effects=True, groups=X_train['country_id'])

In [21]:
X_train

,,country_id,wdi_ny_gdp_mktp_kd,wdi_sp_pop_totl,ged_sb_tlag1,ged_sb_tlag2,ged_sb_tlag3,ged_sb_tlag4,ged_sb_tlag5,ged_sb_tlag6,ged_sb_tlag7,...,ged_sb_tlag27,ged_sb_tlag28,ged_sb_tlag29,ged_sb_tlag30,ged_sb_tlag31,ged_sb_tlag32,ged_sb_tlag33,ged_sb_tlag34,ged_sb_tlag35,ged_sb_tlag36
month_id,country_id,,,,,,,,,,,,,,,,,,,,,
551,126,126,24.715585,16.131777,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.609438,0.0,1.386294,1.791759,0.0,0.0,0.693147,0.0
110,191,191,23.278438,17.648403,7.907284,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
640,2,2,22.180955,13.326097,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
838,67,67,25.883478,17.603737,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
291,112,112,26.103555,15.469572,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,42,42,24.915189,17.306946,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
567,103,103,24.677660,14.561288,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
715,66,66,27.060423,16.158836,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
793,111,111,24.086791,14.101391,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
663,20,20,20.747671,11.732952,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0

In [22]:
model2.fit(X_train, y_train)

Regressor(groups=month_id  country_id
468       117           117
840       85             85
168       114           114
636       133           133
672       46             46
                       ...
348       57             57
216       74             74
60        132           132
240       134           134
708       83             83
Name: country_id, Length: 10616, dtype: int64,
          use_mixed_effects=True)

In [23]:
from sklearn.utils.validation import check_is_fitted

predictions2 = model2.predict(X_test)

In [24]:
predictions2

                     Predictions
month_id country_id
279      90             3.157772
699      243           -1.978375
593      69             1.768696
676      144            6.667074
565      65            -1.215256
...                          ...
196      116            0.378125
211      99             0.635962
283      40             6.193775
97       213           -0.150097
710      135            0.800292

[31646 rows x 1 columns]

In [25]:
predictions-predictions2

                     Predictions
month_id country_id
279      90            -0.458212
699      243            5.233339
593      69             1.545922
676      144           -4.346270
565      65             4.488240
...                          ...
196      116            2.786675
211      99             2.131462
283      40            -3.335665
97       213            3.018756
710      135            2.559826

[31646 rows x 1 columns]